
header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headerPanels {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  margin: 0;
  padding: 0;
  overflow: auto;
  width: 100vw;
}

/*
.s_logged_in, s_logged_out {
  display: none;
}
*/
