#root {
  margin: 0;
  padding: 0;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
}

.growBox {
  flex-grow: 1;
}

main {
  flex-grow: 1;
  margin: 0;
  padding: 0;
  overflow: auto;
  width: 100vw;
}

.sheets {
  width: 100vw;
  height: 100%;
}

.settings {
  width: 100vw;
  height: 95%; /* 100% ??? */
}

.s_logged_in, s_logged_out {
  display: none;
}
