/* AppSettings.module.css */

.allAppSettings {
    width: 95%;
    height: 95%; /* 100% ??? */
    margin: 0 auto;
    padding: 1rem;
}

.prefixesDiv {
    width: 95%;
    margin: auto;
}

.prefixesTA {
    width: 100%;
    height: 10em;
}

.idpDiv {
    width: 95%;
    margin: auto;
    display: flex;
}

.idpTB {
    width: 100%;
}
